.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-sld-arr-l {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-r {
  width: 1em;
  height: 1em;
  fill: initial;
}
